.hueSlider { width:100px; }
.saturationSlider { width:100px; }
.contrastSlider { width:100px; }
.brightnessSlider { width:100px; }
.blurXSlider { width:100px; }
.blurYSlider { width:100px; }
.redChannelSlider { width:100px; }
.greenChannelSlider { width:100px; }
.blueChannelSlider { width:100px; }